<h1>Welcome To States and Activities</h1>

<h3><%=link_to 'Click here for a list of states', ilovestatedata_path %></h3>
<p>Get info about capitals and population</p>
<br\ >	
<br\ >
<h3><%=link_to 'Click here for a list of activities', activities_path%></h3>
<p>Get info about cost and duration of our activities</p>